<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd
	">
	<bean id="pageTypeRecognizor"
		class="org.rec.planets.mercury.url.processor.recognize.page.PageTypeRecognizor">
		<property name="indicators">
			<list>
				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="30" />
					<constructor-arg name="omitHost" value="true" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[item\.htm.*?(\?|&)(id|default_item_id)=(\d+).*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="1" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="30" />
					<constructor-arg name="omitHost" value="true" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[venus/spu_detail\.htm\?.*default_item_id=(\d+).*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="2" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="30" />
					<constructor-arg name="omitHost" value="true" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[venus/spu_detail\.htm\?.*spu_id=(\d+)&.*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="3" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="20" />
					<constructor-arg name="omitHost" value="true" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[.*search=y.*&pageNum=(\d+).*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="4" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="20" />
					<constructor-arg name="omitHost" value="true" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[.*pageNum=(\d+).*&search=y.*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="5" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="20" />
					<constructor-arg name="omitHost" value="true" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[(search)\.htm.*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="6" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="20" />
					<constructor-arg name="omitHost" value="false" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[(http(s)?://){1}(store\.taobao\.com)/shop/view_shop\.htm.*(\?|&)user_number_id=(\d+).*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="7" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="20" />
					<constructor-arg name="omitHost" value="false" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[(http(s)?://){1}(store\.taobao\.com)/shop/view_shop-(\w+)\.htm.*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="8" />
						</bean>
					</constructor-arg>
				</bean>

				<bean
					class="org.rec.planets.mercury.url.processor.recognize.page.bean.PageTypeIndicator">
					<constructor-arg name="pageType" value="20" />
					<constructor-arg name="omitHost" value="false" />
					<constructor-arg name="regex">
						<bean class="org.rec.planets.mercury.parse.bean.OrderedRegex">
							<constructor-arg name="expression">
								<value><![CDATA[(http(s)?://){1}(shop.*?)\.taobao\.com.*]]></value>
							</constructor-arg>
							<constructor-arg name="strict" value="true" />
							<constructor-arg name="order" value="9" />
						</bean>
					</constructor-arg>
				</bean>
			</list>
		</property>
		<property name="allowUnknownType" value="true" />
		<property name="overwriten" value="true" />
	</bean>
</beans>